[submodule "serp-blocks"]
	path = serp-blocks
	url = https://github.com/devinschumacher/serp-blocks.git
[submodule "serpdownloaders"]
	path = serpdownloaders
	url = https://github.com/serpdownloaders/serpdownloaders.github.io.git
